*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --blue: rgb(34, 129, 199);
}
/* ID */

#skillsConteiner{

    background-color: var(--blue);
}



/* Class */

.conteiner{
    padding: 120px 0;
}

.header{
    background-color:#0e0d0d;
    height: 100vh;
    padding: 0 20px;

}

.conteinerCards{
    display: none;
}



.aboutMeIntro h6, .proyects h6{
    color: rgb(34, 129, 199);
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.boxAboutMeConteiner{
    margin: 0 auto;
    width: 90vw;
}

.boxAboutMe{
    font-size: 18px;
}

.buttonBox{
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}

.btnAboutMe{
    border-bottom: 1px solid #ccc;
    padding: 5px 8px;
    border-radius: 4px;
}

.btnAboutMe a{

    color: black;
}

.btnAboutMe a:hover {
    color: var(--blue);
}


.skillsBoxTitle{

    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;

}



.boxSkillsConteiner{
    margin: 0 auto;
    width: 90vw;
}


.skillBox{
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 10px;
}


.skillsList li{
    display: inline-block;
    padding: 5px 8px;
}

.footer{
    height: 100px;
    background-color: #0e0d0d;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.iconList li{
    display: inline-block;
    padding: 5px 8px;
}

.icons{
    color: #fff;
    font-size: 22px;
}

.authorBox p {
    color: #fff;
}





@media screen and (min-width: 600px) {

 .boxSkillsConteiner{
     width: 400px;
 }

  
}

@media screen and (min-width: 740px) {

    .boxSkillsConteiner{
        width: 600px;
    }
    
}

@media screen and (min-width: 1024px) {
    .nav{
        display: flex;
        justify-content:flex-end;
    }
    
    .nav ul li{
    
        display: inline-block;
        padding: 5px 10px;
       
    }
    
    .nav ul li a{
        color: #fff;
    }
    
    .textHeader{
    
     color: #fff;
     padding: 50px 70px;
     
    }
    
    .boxAboutMeConteiner{
        
        max-width: 1024px;
    }
    
    .aboutMeIntro h6{
        font-size: 25px;
    }
    
    .boxAboutMe{
        padding-bottom: 20px;
        font-size: 22px;
    }

 
    .conteinerCards{
        display: flex;
        justify-content:space-around
    }

    .box{
        position: relative;
        overflow: hidden;
    }


    .box p, .box ul li{
        position: relative;
        z-index: 1;
    }

    .box:hover p, .box:hover li{
        color: #fff;
    }
    
    .box .background-hover{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 250px;
        left: -170px;
        border-radius: 100%;
        transition: all 300ms;
        background: linear-gradient(to bottom, rgb(255, 115, 0), rgb(255,148, 48));
    }

    .box:hover .background-hover{
        width: 400px;
        height: 400px;
        top: -70px;
        left: -70px;
        
    }
    
    
    .conteiner p{
        font-size: 20px;
        padding-bottom: 8px;
        text-align: center;
    }
    
    .conteiner li{
        padding: 0 8px 5px 8px;
    }
    
    .boxInterest, .boxSoftSkills, .boxHobbies{
        width: 180px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .iconSkills:hover{

        transform: scale(1.2);
        transition: all 0.2s;
        
    }
    
}
