$black2: #1c191a;
$orange: #fc5f22;

.about-me-container{
    margin-top: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.stacks-container,
.box-about-me-conteiner{
    margin: 45px auto;
    width: 90vw;
}


.about-me-stacks-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black2;
    color: white;
    padding: 0 15px;
    cursor: pointer;
    height: 43px;
    font-size: 20px;
    border-radius: 4px;
    //opacity: 90%;
  }
  
.about-me-stacks-buttons:hover{
    color: $orange;
}
  


.box-about-me-conteiner.show{
    display: block;
}

.box-about-me-conteiner.hidden{
    display: none;
}

.stacks-container{
    display: none;
}


.stacks-container.show{
    display: block;
}

.about-me-stacks-buttons.active{
    background: $orange;
    color: white;
}

.stack-box {
    margin-bottom: 30px;
    height: 5rem;
    overflow-y: auto;
    border-radius: 4px;
    padding: 20px 10px;
    box-shadow: rgb(174, 190, 205) 0px 1px 4px;
}

.stack-list li {
    display: inline-block;
    padding: 5px 8px;
}

.stacks-string{
    font-size: 18px;
    color: $black2;
    margin: 0 5px 15px;
    font-family: "Gagalin";
}