.about-me-container{
    margin-top: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.box-about-me-conteiner{
    margin: 45px auto;
    width: 90vw;
}