$black: #1c191a;
$orange: #fc5f22;

.hero {
    background: url("../img/fondo.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0 20px;
}
  
  .hero-content {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
  
  .hero-texts {
    background-color: $black;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 30px 10px;
    border-radius: 4px;
    opacity: 90%;
    border-radius: 25px;
    border: 2px solid $orange;
}

  
 .hero-texts h1 {
    font-size: 50px;
    text-align: center;
}

 .hero-texts h2{
    font-size: 35px;
} 

.conteiner-personal-img {
    padding: 10px 10px;
    margin: 0 auto;
  }
  
  
#personal-img {
    border-radius: 50%;
  }
  
  .box-personal-img {
    height: 200px;
    border: 2px solid $orange;
    border-radius: 50%;
  }
  