@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.nav-container{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 12px 37px -8px rgba(9, 18, 28, 0.09);
}

.new-nav{
    margin: 0 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
  }
  
  .nav-icon-mobile i {
    padding: 11px 10px;
    font-size: 28px;
    cursor: pointer;
    color: #000;
  }
  
  .linksList {
    position: absolute;
    height: calc(100vh - 51px);
    top: 51px;
    left: 0;
    text-align: center;
    background-color: #fff;
    width: 100vw;
    display: none;
    opacity: 90%;
  }
  
  .linksList.open {
    display: block;
  }
  
  
  .nav-list-container > .linksList li {
    display: block;
    padding: 15px 10px;
  }
  
  .nav-list-container > .linksList  li a {
    color: black;
    font-family: 'Lato', sans-serif;

  }
  
  .linksList li a:hover {
    color: rgb(34, 131, 201);
  }
  
  .socialMediaList{
    display: flex;
    gap: 8px;
  }
  
  .socialMediaIcon{
    font-size: 26px;
  }

  .socialMediaIcon i:hover{
    transform: scale(1.2);
    transition: all 0.2s;
  }

  #youtube-icon{
    color: #fc2222;
  }

  #linkedin-icon{
    color: #2283c9;
  }

  #github-icon{
    color: black;
  }

  .logo{
   display: none;
  }

  @media screen and (min-width: 740px) {
 
    .nav-icon-mobile {
      display: none;
    }

    .linksList {
      position: relative;
      height: auto;
      top: 0;
      left: 0;
      width: auto;
      display: flex;
      align-items: center;
      opacity: 100;
    }
  
    .nav-list-container > .linksList  li {
      display: inline-block;
      padding: 14px 10px;
    }
  
  
    .nav-list-container > .linksList li a {
      font-size: 16px;
    }
  
    .nav-list-container > .linksList li a:hover {
      color: rgb(34, 131, 201);
    }

  }

  
  @media screen and (min-width: 1024px){
    
    .logo{
      display: block;
     }

   .new-nav{
     margin: 0 60px;
     height: 64px;
    }
    
    .nav-list-container > .linksList li a {
      font-size: 18px;
    }

    .socialMediaIcon{
      font-size: 30px;
    }

    .logo{
      font-family: "Gagalin";
      font-size: 25px;
    }
  
}