@use "./sassModules/mixin.scss";
@use "./sassModules/navStyle.scss";
@use "./sassModules/heroStyle.scss";
@use "./sassModules/aboutMeStyle.scss";
@use "./sassModules/projectStyle.scss";
@use "./sassModules/footerStyle.scss";
@use "./sassModules/infoProjectsStyle.scss";


@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter&family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

//Variables
$white: #fff;
$black: #0e0d0d;
$blue: rgb(34, 131, 201);
//Tag's variables
$html: orange;
$css: cornflowerblue;
$sass: #ff4d94;
$javaScript: yellow;
$nodejs: #57b857;
$boostrap: #7952b3;
$sweetAlert: #786b8b;
$react: #61dafb;
$styledComponentes: #d87093;
$redux: #8e6fc0;
$axios: #10663eb6;
$fetch: #036c74;
$test: #85adad;


$black2: #1c191a;
$orange: #fc5f22;
$red-youtube: #fc2222;
$blue-linkedin:#2283c9;


//new css code

.title-section-icon{
  color: $orange;
  font-size: 35px;
}

.about-me-word{
  font-weight: 600;
  color: $orange;
}

.about-me-underline-word{
  font-style: italic;
  text-decoration: underline solid $orange;
}




/*Tags*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: $orange;
}

.hidden {
  overflow: hidden;
}

/* ID */

#id-about-me {
  padding: 0 10px;
}

#html {
  @include mixin.background($backgroundColor: $html);
}

#css {
  @include mixin.background($backgroundColor: $css);
}

#sass {
  @include mixin.background($backgroundColor: $sass);
}

#js {
  @include mixin.background($backgroundColor: $javaScript);
}

#nodejs {
  @include mixin.background($backgroundColor: $nodejs);
}

#boostrap {
  @include mixin.background($backgroundColor: $boostrap);
}

#sweetAlert {
  @include mixin.background($backgroundColor: $sweetAlert);
}

#react {
  @include mixin.background($backgroundColor: $react);
}
#test {
  @include mixin.background($backgroundColor: $test);
}

#axios {
  @include mixin.background($backgroundColor: $axios);
}

#redux {
  @include mixin.background($backgroundColor: $redux);
}

#styledComponentes {
  @include mixin.background($backgroundColor: $styledComponentes);
}


#link-linkeding {
  font-weight: 600;
  color: $black;
}

#link-linkeding:hover {
  color: $orange;
}

/* Class */
.main,
.about-me {
  //background-color: $black2;
  @include mixin.background;
}

.grid-fluid {
  margin: 16px auto;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}


.conteiner {
  padding: 120px 0;
}

.seccion-tag {
  color: $blue;
  font-size: 18px;
  padding-bottom: 20px;
}


.padding-bottom {
  padding-bottom: 20px;
}

.padding-left {
  padding-left: 10px;
}

.conteinerCards {
  display: none;
}

.contact-me {
  background-color: $white;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0px 1px 4px #aebecd;
  margin: auto auto;
}


.contact-me {
  margin: 0 auto;
  width: 90vw;
}

.button-box {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-proyect-aboutMe {
  font-weight: bold;
  height: 43px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #aebecd;
}

.btn-proyect-aboutMe a {
  color: $blue;
  padding: 10px 13px;
  display: flex;
}

.btn-proyect-aboutMe a:hover,
.btn-proyect-aboutMe:hover {
  color: $white;
  background-color: $blue;
  border-radius: 4px;
}

.about-me-box {
  font-family: "Lato",sans-serif;
  font-size: 18px;
}

/* Proyects  */

.imgCard {
  width: 290px;
  height: 200px;
  border-radius: 4px 4px 0 0;
}


.title-sections {
  color: $orange;
  font-family: 'Galada', cursive;
  text-align: center;
  font-size: 30px;
}

.button-conteiner {
  margin: 0 auto;
  width: 90vw;
}


.contactme-text h1 {
  font-size: 22px;
  padding-bottom: 20px;
  color: $black;
  text-align: center;
}

.contact-me-box {
  padding: 0 10px;
}

.contact-description {
  font-family: "Inter",sans-serif;
  color: $black;
  font-size: 18px;
  text-align: center;
}



.grid-fluid,
.skills-box-conteiner,
.contact-me {
  margin: 120px auto;
}

.box-about-me-conteiner {
  box-shadow: 0px 1px 4px #aebecd;
  padding: 20px 10px;
  border-radius: 4px;
}

@media screen and (min-width: 450px) {
  .footer-conteiner {
    justify-content: space-between;
  }
}

@media screen and (min-width: 740px) {

  .nav-icon-mobile {
      display: none;
    }

    .linksList {
      position: relative;
      height: auto;
      top: 0;
      left: 0;
      width: auto;
      display: flex;
      align-items: center;
      opacity: 100;
    }
  
    .nav-list-container > .linksList  li {
      display: inline-block;
      padding: 14px 10px;
    }
  
  
    .nav-list-container > .linksList li a {
      font-size: 16px;
    }


    .title-sections {
      font-size: 40px;
    }

  .stack-box {
      height: 6rem;
  }

  .contactme-text h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {


  .logo{
      display: block;
     }

   .new-nav{
     margin: 0 60px;
     height: 64px;
    }
    
    .nav-list-container > .linksList li a {
      font-size: 18px;
    }

    .socialMediaIcon{
      font-size: 30px;
    }

    .logo{
      color: $orange;
      font-family: "Gagalin";
      font-size: 25px;
    }

    .hero-texts, .info-projects {
      margin: 0 0;
      gap: 24px;
      padding: 30px 20px;
  }
  


  #id-about-me {
    border-right: 1px solid #ccc;
  }

 
  .hero-content {
    margin: 0 auto;
    max-width: 1500px;
  }

  .box-main {
    max-width: 1024px;
  }

  .stacks-container,
  .box-about-me-conteiner,
  .box-proyects,
  .contact-me {
    max-width: 1024px;
  }

  .about-me-box {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  #id-about-me-conteiner {
    display: flex;
    gap: 15px;
  }

  #id-about-me-conteiner > .conteinerCards {
    flex-direction: column;
    gap: 15px;
    justify-content: initial;
  }

  .icon-skills:hover {
    transform: scale(1.2);
    transition: all 0.2s;
  }

  .button-conteiner {
    max-width: 1024px;
  }
  .footer-conteiner {
    margin: 0 auto;
    max-width: 1500px;
  }

  .contactme-text h1 {
    font-size: 32px;
  }

  .conteiner-personal-img {
    margin: 0 0;
  }
}

