@use "./sassModules/mixin.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

//Variables
$white: #fff;
$black: #0e0d0d;
$blue: rgb(34, 131, 201);
//Tag's variables
$html: orange;
$css: cornflowerblue;
$sass: #ff4d94;
$javaScript: yellow;
$nodejs: #57b857;
$boostrap: #7952b3;
$sweetAlert: #786b8b;
$react: #61dafb;
$styledComponent: #d87093;
$redux: #8e6fc0;
$axios: #10663eb6;
$fetch: #036c74;
$test: #85adad;

.hidden {
  overflow: hidden;
}

/* ID */

#id-about-me {
  padding: 0 10px;
}

#html {
  @include mixin.background($backgroundColor: $html);
}

#css {
  @include mixin.background($backgroundColor: $css);
}

#sass {
  @include mixin.background($backgroundColor: $sass);
}

#js {
  @include mixin.background($backgroundColor: $javaScript);
}

#nodejs {
  @include mixin.background($backgroundColor: $nodejs);
}

#boostrap {
  @include mixin.background($backgroundColor: $boostrap);
}

#sweetAlert {
  @include mixin.background($backgroundColor: $sweetAlert);
}

#react {
  @include mixin.background($backgroundColor: $react);
}
#test {
  @include mixin.background($backgroundColor: $test);
}

#axios {
  @include mixin.background($backgroundColor: $axios);
}

#link-linkeding {
  color: $black;
}

#link-linkeding:hover {
  color: $blue;
}

/* Class */
.main,
.about-me {
  @include mixin.background;
}

.grid-fluid {
  margin: 16px auto;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.conteiner {
  padding: 120px 0;
}

.icon i {
  padding: 11px 10px;
  font-size: 28px;
  cursor: pointer;
  color: $black;
}

.nav {
  height: 50px;
  position: fixed;
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.navList {
  position: absolute;
  height: calc(100vh - 51px);
  top: 51px;
  left: 0;
  text-align: center;
  background-color: $white;
  width: 100vw;
  display: none;
  opacity: 90%;
}

.navList.open {
  display: block;
}

.nav > .navList li {
  display: block;
  padding: 15px 10px;
}

.nav > .navList li a {
  color: black;
  text-transform: uppercase;
}

.navList li a:hover {
  color: $blue;
}

// .sub-nav {
//   height: 10px;
//   overflow: hidden;
//   transition: all 0.3s;
// }

.seccion-tag {
  color: $blue;
  font-size: 18px;
  padding-bottom: 20px;
}

/* hero principal */

.hero {
  background: url("../img/fondo.jpg");
  background-size: cover;
  height: 100vh;
  padding: 0 20px;
}

.hero-content {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.hero-texts {
  color: $white;
  padding: 30px 20px;
  border-radius: 4px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-left {
  padding-left: 10px;
}

.hero-texts h1 {
  font-size: 50px;
}

/* hero about me */

.hero-about-me {
  @include mixin.background;
  height: 300px;
}

.hero-content-about-me {
  height: 300px;
  display: flex;
  align-items: center;
}

.conteinerCards {
  display: none;
}

.contact-me {
  background-color: $white;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0px 1px 4px #aebecd;
  margin: auto auto;
}

.box-about-me-conteiner,
.hero-content-about-me,
.contact-me {
  margin: 0 auto;
  width: 90vw;
}

.button-box {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-proyect-aboutMe {
  font-weight: bold;
  height: 43px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #aebecd;
}

.btn-proyect-aboutMe a {
  color: $blue;
  padding: 10px 13px;
  display: flex;
}

.btn-proyect-aboutMe a:hover,
.btn-proyect-aboutMe:hover {
  color: $white;
  background-color: $blue;
  border-radius: 4px;
}

.about-me-box {
  font-size: 18px;
}

/* Proyects  */

.imgCard {
  width: 100%;
  height: 130px;
  border-radius: 4px 4px 0 0;
}

.proyectCardConteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proyectCard {
  width: 15.4rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(174, 190, 205);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyectCard:hover,
.btn-proyect-aboutMe:hover {
  box-shadow: 3px 3px 10px rgb(174, 190, 205);
}

.description-proyects {
  padding: 0px 12px;
}

.description-proyects h1 {
  font-size: 25px;
}

.footer-box {
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
}

.button-proyect {
  display: inline-block;
  box-shadow: 0px 1px 4px #aebecd;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 5px;
  color: #0e0d0d;
}

.button-proyect:hover {
  background-color: $blue;
  border-color: $white;
  color: $white;
  transition: all 1s;
}

.proyects-icons {
  color: #0e0d0d;
  font-size: 22px;
  padding-right: 3px;
}

.skill-tag-box {
  padding: 15px 12px 0 12px;
}

.skill-tag-list {
  height: 56px;
  overflow: auto;
}

.skill-tag-list li {
  display: inline-block;
  padding: 3px;
}

.skills-proyects {
  padding: 2px 8px;
  border-radius: 4px;
}

.title-sections {
  color: $blue;
  text-align: center;
  font-size: 30px;
}

.skills-box-conteiner {
  margin: 0 auto;
  width: 90vw;
}

.skill-box {
  height: 22rem;
  overflow-y: auto;
  border-radius: 4px;
  padding: 20px 10px;
  box-shadow: rgb(174 190 205) 0px 1px 4px;
}

.skills-list li {
  display: inline-block;
  padding: 5px 8px;
}

.footer {
  background-color: #fff;
  padding: 0 20px;
  border-top: 1px solid #ccc;
}

.footer-conteiner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon-list li {
  display: inline-block;
  padding: 5px 8px;
}

.footer-icons {
  color: black;
  font-size: 30px;
}

.footer-icons i:hover {
  transform: scale(1.2);
  transition: all 0.2;
}

.author-box p {
  color: black;
}

.author-box p:hover {
  color: $blue;
}

.button-conteiner {
  margin: 0 auto;
  width: 90vw;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  padding: 5px 5px;
}

.contactme-text h1 {
  font-size: 22px;
  padding-bottom: 20px;
  color: $black;
  text-align: center;
}

.contact-me-box {
  padding: 0 10px;
}

.contact-description {
  color: $black;
  font-size: 1.2rem;
  text-align: center;
}

.conteiner-personal-img {
  padding: 10px 10px;
  margin: 0 auto;
}

#personal-img {
  border-radius: 50%;
}

.box-personal-img {
  height: 219px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.box-about-me-conteiner,
.grid-fluid,
.skills-box-conteiner,
.contact-me {
  margin: 120px auto;
}

.box-about-me-conteiner {
  box-shadow: 0px 1px 4px #aebecd;
  padding: 20px 10px;
  border-radius: 4px;
}

.titleVersionBox {
  display: flex;
  justify-content: space-between;
}

.versionBox {
  height: 28px;
  box-shadow: 0px 1px 4px #aebecd;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
}

.versionBox:hover {
  background-color: $blue;
  border-color: $white;
  transition: all 1s;
}

.version {
  display: flex;
  padding: 5px 5px;
  font-size: 1rem;
  color: $black;
}

.version:hover {
  color: $white;
  transition: all 1s;
}

@media screen and (min-width: 600px) {
  .skills-box-conteiner {
    width: 600px;
  }
}

@media screen and (min-width: 740px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .navList {
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    background-color: $white;
    width: auto;
    display: inline;
    opacity: 100;
  }

  .nav > .navList li {
    display: inline-block;
  }

  .nav > .navList li a {
    color: $white;
    font-size: 18px;
  }

  .nav > .navList li a:hover {
    color: $blue;
  }

  .nav-conteiner {
    top: 0;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 80;
    transition: all 0.3s;
  }

  .nav-conteiner.down {
    top: -50px;
  }

  .sub-nav {
    display: none;
    position: absolute;
    top: 51px;
    background-color: $white;
    border: 1px solid #ccc;
  }

  .nav li:hover .sub-nav {
    display: block;
  }

  .nav > .navList li a {
    color: black;
    text-transform: uppercase;
  }

  .icon {
    display: none;
  }

  .skill-box {
    height: 16rem;
  }

  .skills-box-conteiner {
    width: 740px;
  }

  .contactme-text h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  /* ID */

  #id-about-me {
    border-right: 1px solid #ccc;
  }

  .skills-box-conteiner {
    width: 1000px;
  }

  .hero-content {
    margin: 0 auto;
    max-width: 1500px;
  }

  .box-main {
    max-width: 1024px;
  }

  .box-about-me-conteiner,
  .hero-content-about-me,
  .box-proyects,
  .contact-me {
    max-width: 1024px;
  }

  .about-me-intro h6 {
    font-size: 25px;
  }

  .about-me-box {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  #id-about-me-conteiner {
    display: flex;
    gap: 15px;
  }

  #id-about-me-conteiner > .conteinerCards {
    flex-direction: column;
    gap: 15px;
    justify-content: initial;
  }

  .interest-box li,
  .soft-skills-box li,
  .hobbies-box li {
    padding: 5px 8px;
  }

  .interest-box p,
  .soft-skills-box p,
  .hobbies-box p {
    padding: 10px 0;
    font-size: 20px;
  }

  .titleCards {
    text-align: center;
  }

  .conteinerCards {
    display: flex;
    justify-content: space-around;
  }

  .box {
    position: relative;
    overflow: hidden;
  }

  .box p,
  .box ul li {
    position: relative;
    z-index: 1;
  }

  .box:hover p,
  .box:hover li {
    color: $white;
  }

  .box .hover-animation {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: -170px;
    border-radius: 100%;
    transition: all 300ms;
    background: linear-gradient(
      to bottom,
      rgb(34, 129, 199),
      rgb(57, 159, 202)
    );
    /* background: linear-gradient(to bottom, rgb(34, 129, 199), rgb(45, 55, 59));  */
  }

  .box:hover .hover-animation {
    width: 400px;
    height: 400px;
    top: -70px;
    left: -70px;
  }

  .interest-box,
  .soft-skills-box,
  .hobbies-box {
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #aebecd;
  }

  .icon-skills:hover {
    transform: scale(1.2);
    transition: all 0.2s;
  }

  .button-conteiner {
    max-width: 1024px;
  }
  .footer-conteiner {
    margin: 0 auto;
    max-width: 1500px;
  }

  .contactme-text h1 {
    font-size: 32px;
  }

  .conteiner-personal-img {
    margin: 0 0;
  }
}
