*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


:root{
    --blue: rgb(34, 129, 199);
}
/* ID */

#skills{

    background-color: var(--blue);
}


#id-about-me{
    padding: 0 10px;
}


.body-color{
    background-color: #0e0d0d;
}



/* Class */

.main, .about-me{
    background-color: #fff;
}

.grid-fluid{
    margin: 16px auto;
    max-width: 1024px;
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
}

.conteiner{
    padding: 120px 0;
}

.icon{
    padding: 10px; 
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* Provisorio */
.nav{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 50px;
}

.nav > .navList li{
    
    display: inline-block;
    padding: 0 10px;
   
}

.nav > .navList li a{
    color: #fff;
    font-size: 18px;
}

.nav > .navList li a:hover{
    color: var(--blue);
}


.nav-conteiner{
    background-color:#0e0d0d;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    height: 50px;
    top: 0;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 80;
    transition: all 0.3s;

}

.nav-conteiner.down{
    top: -50px;
}

/* doesnt work good */

/* .nav{
    height: 50px;
}

.navList{
 position: absolute;
 height: calc(100vh - 50px);
 top: 50px;
 left: 0;
 text-align: center;
 background-color: var(--blue);
 width: 100vw;
 display: none;

} */

/* .navList.open{
    display: block;
} */

/* .nav > .navList li{
    display: block;
    padding: 12px 15px;
} */

.nav > .navList li a{
    color: #fff;
}


.seccion-tag{
    color: var(--blue);
    font-size: 18px;
    padding-bottom: 20px;
}

/* hero principal */

.hero{
    background-color:#0e0d0d;
    height: 100vh;
    padding: 0 20px;
}

.hero-content{
    height: 100vh;
    display: flex;
    align-items: center;
}


.hero-texts{
    
    color: #fff;

}

.padding-bottom{
    padding-bottom: 20px;
}

.padding-left{
    padding-left: 10px;
}


.hero-texts h1{
    font-size: 50px;
}

/* hero about me */

.hero-about-me{
    background-color:#fff;
    height: 300px;
}

.hero-content-about-me{

    height: 300px;
    display: flex;
    align-items: center;
    
}

.conteinerCards{
    display: none;
}

.title-aboutMe-proyects{
    color: rgb(34, 129, 199);
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.contact-me{
    margin: auto auto;
}

.box-about-me-conteiner,.hero-content-about-me, .contact-me{
    
    margin: 0 auto;
    width: 90vw;
}





.button-box{
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}

.btn-proyect-aboutMe{
    border-bottom: 1px solid #ccc;
    padding: 5px 8px;
    font-size: 20px;
}


.btn-proyect-aboutMe a{

    color: black;
}

.btn-proyect-aboutMe a:hover, .btn-proyect-aboutMe:hover {
    color: var(--blue);
    border-color: #0e0d0d;
    
}

  
.about-me-box{
   
    font-size: 18px;
}


/* Proyects  */

.imgCard{
    width: 100%;
    height: 130px;
    border-radius: 4px 4px 0 0;
}

.proyectCardConteiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proyectCard{
    width: 245px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgb(174, 190, 205);
    margin: 16px auto;
   
}

.proyectCard:hover{
    box-shadow: 3px 3px 10px rgb(174, 190, 205);
}

.description-proyects{

    padding-left: 15px;

}

.description-proyects h1{
    font-size: 28px;
}


.footer-box{
    padding: 10px 5px;
    display: flex;
    justify-content:space-around;
}

.button-proyect{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    color: #0e0d0d;
}



.button-proyect:hover{
    background-color: var(--blue); 
    color: #fff;
    transition: all 1s;
}


.proyects-icons{
    color: #0e0d0d;
    font-size: 22px;
    padding-right: 3px;
}

.skill-tag-box{
    padding: 20px 0 0 15px;
    
}


.skill-tag-card li{
    display: inline-block;
    padding: 3px;
}

.skills-proyects{
    padding: 2px 8px;
    border-radius: 4px;
}

#html{
    background-color: orange;

}

#css{
    background-color: cornflowerblue;

}

#js{
    background-color: yellow;
}


.skills-title-box{

    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;

}



.skills-box-conteiner{
    margin: 0 auto;
    width: 90vw;
}


.skill-box{
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 10px;
}


.skills-list li{
    display: inline-block;
    padding: 5px 8px;
}

.footer{
    
    background-color: #0e0d0d;
    padding: 0 20px;


}

.footer-conteiner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-icon-list li{
    display: inline-block;
    padding: 5px 8px;
}

.footer-icons{
    color: #fff;
    font-size: 30px;
}

.footer-icons i:hover{
    transform: scale(1.2);
    transition: all 0.2;
}

.author-box p {
    color: #fff;
}

.author-box p:hover{
    color: var(--blue);
}

/* slider */

.slider{
    position: relative;
}

.slider-list li{
    width: 90vw;
    height: 300px;
}

.slider-list img{
    width: 100%;
    height: 100%;
}

.slider-conteiner{
    margin: 0 auto;
    width: 90vw;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination li{
    padding: 5px 5px;
}


.contactme-text h1{
    font-size: 22px;
    padding-bottom: 20px;
    color: #fff;
}

.contact-me-box{
    padding: 0 10px;
}


.contact{
    background-color: #0e0d0d;
}

.contact-description{
    color: #fff;
    font-size: 18px;
}


@media screen and (min-width: 600px) {

 .skills-box-conteiner{
     width: 400px;
 }

 .slider-list li{
    height: auto;
}
  
}

@media screen and (min-width: 740px) {

    .skills-box-conteiner{
        width: 600px;
    }

    .contactme-text h1{
        font-size: 25px;

    }
    
}

@media screen and (min-width: 1024px) {

    /* ID */

    #id-about-me{
        border-right: 1px solid #ccc;
    }



    /* .nav{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 50px;
    } */
    .icon{
        display: none;
    }
/* 
    .navList{
        position: inherit;
        height: auto;
        text-align: right;
        background-color: inherit;
        width: auto;
        display:unset;
    
       
    } */
    
    /* .nav > .navList li{
    
        display: inline-block;
        padding: 0 10px;
       
    }
    
    .nav ul li a{
        color: #fff;
        font-size: 18px;
    }

    .nav ul li a:hover{
        color: var(--blue);
    }
     */
    .hero-content{
        margin: 0 auto;
        max-width: 1500px;

    }



    .box-main{
        max-width: 1024px;
    }

    
    .box-about-me-conteiner, .hero-content-about-me, .box-proyects, .contact-me{

        max-width: 1024px;
    }
    
    .about-me-intro h6{
        font-size: 25px;
    }
    
    .about-me-box{
        padding-bottom: 20px;
        font-size: 20px;
    }


    #id-about-me-conteiner{
        display: flex;
        gap: 15px;
    }
    
    #id-about-me-conteiner > .conteinerCards{
        flex-direction: column;
        gap: 15px;
    }


    .interest-box li, .soft-skills-box li, .hobbies-box li{
        padding: 5px 8px;
    }

    .interest-box p, .soft-skills-box p, .hobbies-box p{
        padding: 10px 0;
        font-size: 20px;
    }
   

    .titleCards{
        text-align: center;
    }

 
    .conteinerCards{
        display: flex;
        justify-content:space-around;
    
    }

    .box{
        position: relative;
        overflow: hidden;
    }


    .box p, .box ul li{
        position: relative;
        z-index: 1;
    }

    .box:hover p, .box:hover li{
        color: #fff;
    }
    
    .box .hover-animation{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 250px;
        left: -170px;
        border-radius: 100%;
        transition: all 300ms;
        background: linear-gradient(to bottom, rgb(34, 129, 199), rgb(57, 159, 202)); 
        /* background: linear-gradient(to bottom, rgb(34, 129, 199), rgb(45, 55, 59));  */
    }

    .box:hover .hover-animation{
        width: 400px;
        height: 400px;
        top: -70px;
        left: -70px;
        
    }
    
    
    /* .conteiner p{
        font-size: 20px;
        padding-bottom: 8px;
    } */
    
    /* .conteiner li{
        padding: 0 8px 5px 8px;
    } */
    
    .interest-box, .soft-skills-box, .hobbies-box{
        width: 180px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    

    .icon-skills:hover{

        transform: scale(1.2);
        transition: all 0.2s;
        
    }

    .slider-list li{
        max-width: 1024px;
    }
    .slider-conteiner{
        max-width: 1024px;
    }
    .footer-conteiner{
        
        margin: 0 auto;
        max-width: 1500px;
    }

    .contactme-text h1{
        font-size: 32px;

    }
}
